html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import "variables";

body {
  display: grid;
  grid-template-columns: 272px auto;
  nav {
    background-color: $nav-bg-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: sticky;
    top: 0;
    img {
      width: $img;
      height: $img;
      border: $img-border;
      border-radius: 100%;
      border-color: $img-border-color;
      margin-bottom: $img-margin;
    }
    a {
      text-decoration: none;
      color: $list-items-color;
      transition: color 0.5s;
      cursor: pointer;
      font-weight: 900;
      font-family: $font-fam;
    }
    a:hover {
      color: $hover-list-items-color;
    }
    li {
      width: 272px;
      height: 40px;
      text-align: center;
    }
  }
  header > {
    div {
      height: 100vh;
      max-width: 1040px;
    }
    #about {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 50px;
      padding-right: 50px;
      .about-div {
        font-family: $font-fam;
        h1 {
          font-size: 350%;
          margin-bottom: 10px;
          span {
            color: $nav-bg-color;
          }
        }
        h3 {
          font-size: 100%;
          margin-bottom: 75px;
          color: $h3;
          span {
            a {
              color: $nav-bg-color;
              text-decoration: none;
            }
          }
        }
        p {
          color: $p;
        }
      }
      .icons-1 {
        margin-top: 100px;
        font-size: 150%;
        i {
          box-sizing: border-box;
          padding: 15px;
          margin: 15px;
          color: white;
          background-color: rgb(44, 44, 44);
          border-radius: 100%;
        }
        i:hover {
          background-color: $nav-bg-color;
        }
      }
    }
    #experience {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: $font-fam;
      padding-left: 50px;
      padding-right: 50px;
      .experience-div {
        h1 {
          font-size: 350%;
          margin-bottom: 70px;
        }
        div {
          position: relative;
          h2 {
            font-size: 190%;
            margin-bottom: 10px;
            color: $h2;
          }
          h3 {
            font-size: 135%;
            color: $h3;
            margin-bottom: 30px;
          }
          p {
            font-size: 90%;
            color: $p;
            margin-bottom: 50px;
            max-width: 850px;
          }
          span {
            position: absolute;
            top: 0;
            right: 0;
            color: $nav-bg-color;
          }
        }
      }
    }
    #education {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: $font-fam;
      padding-left: 50px;
      padding-right: 50px;
      .education-div {
        h1 {
          font-size: 350%;
          margin-bottom: 70px;
        }
        div {
          position: relative;
          h2 {
            font-size: 190%;
            margin-bottom: 10px;
            color: $h2;
          }
          h3 {
            font-size: 135%;
            color: $h3;
            margin-bottom: 30px;
          }
          div {
            margin-bottom: 50px;
            p {
              font-size: 90%;
              color: $p;
              margin-bottom: 10px;
              max-width: 850px;
            }
          }
          span {
            position: absolute;
            top: 0;
            right: 0;
            color: $nav-bg-color;
          }
          p {
            font-size: 90%;
            color: $p;
            margin-bottom: 10px;
            max-width: 850px;
          }
        }
      }
    }
    #skills {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: $font-fam;
      margin-left: 50px;
      margin-right: 50px;
      .skills-div {
        h1 {
          font-size: 350%;
          margin-bottom: 70px;
        }
        h3 {
          font-size: 135%;
          color: $h3;
          margin-bottom: 30px;
        }
        .icons-2 {
          padding: 10px;
          font-size: 325%;
          color: grey;
          margin-bottom: 30px;
        }
        ul {
          li {
            font-size: 90%;
            color: $p;
            margin-bottom: 5px;
            i {
              margin-right: 15px;
            }
          }
        }
      }
    }
    #interests {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: $font-fam;
      margin-left: 50px;
      margin-right: 50px;
      h1 {
        font-size: 350%;
        margin-bottom: 70px;
      }
      p {
        font-size: 90%;
        color: $p;
        margin-bottom: 15px;
        max-width: 1050px;
      }
    }
    #awards {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: $font-fam;
      margin-left: 50px;
      margin-right: 50px;
      h1 {
        font-size: 350%;
        margin-bottom: 70px;
      }
      ul {
        li {
          font-size: 100%;
          color: $p;
          margin-bottom: 15px;
          i {
            margin-right: 15px;
            color: $award-icons-color;
          }
        }
      }
    }
  }
}
